<%- include("partials/header")-%>
    <%# <div class="cover">
        <div class="cover-text">
           <p class="subhead">Complaint process simplified</p>

           <img src="" class="logo">
            <img src="img/arrow1.png" class="scroll">
            <p class="scrolld1" style="position:relative; left:auto">Scroll down</p>
        </div>
    </div> %>
<br><br><br><br><br><br><br><br><br><br>
    <div class="cover">
        <div class="cover-text">
           <p class="subhead">Uphold the Law.</p>
<!--            <h1 class="masthead logo"><span class="logo"><img src="logo1.png">-->
<!--</span>ryOut</h1>-->
           <img src="img/logofull1.png" class="logo">
            <img src="img/arrow1.png" class="scroll">
            <p class="scrolld1">Scroll down</p>
        </div>
    </div>

    <section id="about">
     <h2 class="headabout wow fadeInUp" data-wow-duration="2s">WHAT DO WE DO?</h2>
      <div class="container">
       <div class="row">
          <div class="col-sm-4 abouthead wow fadeInUp" data-wow-duration="2s">

            <a href="/FileAComplaint">
             <img src="img/i31.png">
              <h3>File a Complaint</h3>
              <p class="lodge">Lodge a complaint if you wish to report a criminal activity you witnessed or went through. CryOut for help. The concerned authorities will take necessary action.</p>
              </a>
           </div>
           <div class="col-sm-4 abouthead wow fadeInUp" data-wow-duration="2s">
               <a href="/chat">
               <img src="img/discuss1.png" class="help">
               <h3>Discussion Forum</h3>
              <p class="lodge">Wish to discuss your problems with someone? Wish to ask for advice? We provide the perfect platform for this. Don't worry, your anonymity will be kept.</p>
               </a>
           </div>
           <div class="col-sm-4 abouthead wow fadeInUp" data-wow-duration="2s">
               <a href="/help">
               <img src="img/i21.png" class="help1">
               <h3>Want to Help?</h3>
              <p class="lodge">We provide a portal for the police and all the NGOs to be connected to the people and help them in any way possible.</p>
               </a>
           </div>
       </div>
        </div>
    </section>


   <div class="container headabout wow fadeInUp" data-wow-duration="2s">



  </div>

<%-include("partials/footer")-%>
