<%-include("partials/header")-%>

<div class="type" class="complaintType">
  <br><br>

  <br><br>
  <div class="card">
    <h3 class="card-header">Grievance registration form</h3>
    <div class="card-body">
      <div class="card-simple">
        <h5 class="card-title" style="text-align:center;padding:10px; color:#086972;">Please note : If specific information related to a service is not available / known, select Others/Misc. option for lodging of grievance.</h5>
      </div>

      <div class="form-group">
                          <div class="row">
                              <label class="col-md-4 text-right required" for="Category">Ministry / Department : </label>
                              <div class="col-md-6">
                                <p><%= Ministry %></p>
          </div>
        </div>
      </div>

      <div class="form-group">
                          <div class="row">
                              <label class="col-md-4 text-right required" for="Category">Select main category</label>
                              <div class="col-md-6">
                                  <select autocomplete="off" class="form-control select2-hidden-accessible" id="Category_2" name="Category" data-select2-id="Category_2" tabindex="-1" aria-hidden="true"><option value="" data-select2-id="2">Please select main category</option>
      <option value="62">Delay/ Non - Delivery/Abstraction of Postal Articles</option>
      <option value="63">Pension Related</option>
      <option value="64">Financial Scheme Related</option>
      <option value="65">Insurance Related</option>
      <option value="66">Employees Service Related</option>
      <option value="67">Allegation of Corruption/ Malpractices/Harassment</option>
      <option value="68">Atrocities Against</option>
      <option value="69">Aadhar and Post Office Passport Seva Kendra (POPSK) Related</option>
      <option value="70">E-commerce portal Related</option>
      <option value="71">Philately Related</option>
      <option value="72">ePost Office Related</option>
      <option value="73">Land Related</option>
      <option value="74">Others/Misc.</option>
      </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 603.688px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-Category_2-container"><span class="select2-selection__rendered" id="select2-Category_2-container" role="textbox" aria-readonly="true" title="Please select main category"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
        <span class="field-validation-valid text-danger" data-valmsg-for="Category" data-valmsg-replace="true"></span>
          </div>
        </div>
      </div>

      <div class="form-group" data-select2-id="31">
    <div class="row">
        <label class="col-md-4 text-right required" for="Category">Select next level category</label>
        <div class="col-md-6" data-select2-id="30">
            <select autocomplete="off" class="form-control select2-hidden-accessible" id="Category_3" name="Category" required="required" data-select2-id="Category_3" tabindex="-1" aria-hidden="true"><option value="" data-select2-id="28">Select next level category</option>
<option value="89" data-select2-id="32">Delay in Pension</option>
<option value="90" data-select2-id="33">Revision of Pension</option>
<option value="91" data-select2-id="34">Miscalculation in Pension</option>
<option value="92" data-select2-id="35">Adding beneficiary in PPO</option>
<option value="93" data-select2-id="36">Others</option>
</select><span class="select2 select2-container select2-container--default select2-container--above" dir="ltr" data-select2-id="27" style="width: 603.688px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-Category_3-container"><span class="select2-selection__rendered" id="select2-Category_3-container" role="textbox" aria-readonly="true" title="Miscalculation in Pension"></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
            <span class="field-validation-valid text-danger" data-valmsg-for="Category" data-valmsg-replace="true"></span>
        </div>
    </div>
</div>

    </div>

  </div>



<%# <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> %>

</div>

<%-include("partials/footer")-%>
